<h2>My Subscribed NewsLetters</h2>
<hr />

<div ng-init="userNewsLetterCtrl.Initialize()">
    <div style="overflow:auto" ng-if="userNewsLetterCtrl.myNewsLetterList.length >0">
        <div style="float:left;overflow:auto;border:solid;border-width:thin;margin:2px;width:98%" ng-repeat="newsLetter in userNewsLetterCtrl.myNewsLetterList">
            <div ng-hide="(!userNewsLetterCtrl.authenticationVM.IsAuth) || newsLetter.isRequested" style="float:left;text-align:right;width:100%">
                <div ng-controller="UserNewsLetterModule.Controllers.UserNewsLetterController as useruserNewsLetterCtrl">
                    <input type="button" name="btnFindNewsLetter" style="width:150px" value="Subscribe (not tested)" ng-click="useruserNewsLetterCtrl.UpdateMyNewsLetters(newsLetter.id)" />
                </div>
            </div>

            <div style="text-align:center;padding-left:2px;padding-bottom:3px"><b>{{newsLetter.title}}</b></div>
            <div style="overflow:auto">
                <div style="float:left;text-align:left;">
                    <div style="text-align:left;padding-right:2px;padding-top:3px"><b>Publisher : {{newsLetter.publisher}}</b></div>
                    <div style="text-align:left;padding-right:2px;padding-top:3px"><b>Author : {{newsLetter.author}}</b></div>
                </div>
            </div>
            <div style="text-align:left;padding-right:2px;padding-top:3px"><b>{{newsLetter.description}}</b></div>
        </div>
    </div>
    <div style="overflow:auto;text-align:center" ng-if="userNewsLetterCtrl.myNewsLetterList.length  == 0">
        {{userNewsLetterCtrl.ProcessInfo.Message}}
    </div>
</div>